<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Basic</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>product_id</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>heading_title</string>
				<key>title</key>
				<string>Title</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>thumb</string>
				<key>title</key>
				<string></string>
				<key>name4popup</key>
				<string>popup</string>
				<key>type</key>
				<string>Image</string>
				<key>height</key>
				<string>260</string>
				<key>fields</key>
				<array>
					<dict>
						<key>name</key>
						<string>popup</string>
						<key>title</key>
						<string></string>
						<key>type</key>
						<string>Image</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>manufacturer</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>model</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>reward</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>stock</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Price</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>price</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>special</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>tax</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>point</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>minimum</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Discounts</string>
		<key>value</key>
		<string>@discounts</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>discounts</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<string></string>
				<key>fields</key>
				<array>
					<dict>
						<key>name</key>
						<string>price</string>
						<key>title</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>quantity</string>
						<key>title</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>description</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>description</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<string>HTML</string>
				<key>height</key>
				<string>200</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
