<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Personal Details</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>firstname</string>
				<key>title</key>
				<string>* First Name</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>lastname</string>
				<key>title</key>
				<string>* Last Name</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>email</string>
				<key>title</key>
				<string>* E-Mail</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>telephone</string>
				<key>title</key>
				<string>* Telephone</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>fax</string>
				<key>title</key>
				<string>Fax</string>
				<key>type</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Address</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>company</string>
				<key>title</key>
				<string>Company</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>address_1</string>
				<key>title</key>
				<string>* Address 1</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>address_2</string>
				<key>title</key>
				<string>Address 2</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>city</string>
				<key>title</key>
				<string>* City</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>postcode</string>
				<key>title</key>
				<string>Post Code</string>
				<key>type</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>country</string>
				<key>title</key>
				<string>* Country</string>
				<key>type</key>
				<string></string>
				<key>class</key>
				<string>CountryViewController</string>
				<key>readonly</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>zone</string>
				<key>title</key>
				<string>* Region / State</string>
				<key>type</key>
				<string></string>
				<key>class</key>
				<string>CountryViewController</string>
				<key>readonly</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Password</string>
		<key>value</key>
		<string></string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>password</string>
				<key>title</key>
				<string>* Password</string>
				<key>type</key>
				<string></string>
				<key>secure</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>confirm</string>
				<key>title</key>
				<string>* Password Confirm</string>
				<key>type</key>
				<string></string>
				<key>secure</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Newsletter</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>newsletter</string>
				<key>title</key>
				<string>Subscribe</string>
				<key>type</key>
				<string>RadioCell</string>
				<key>value</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Privacy Policy</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>agree</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<string>RadioLinkCell</string>
				<key>height</key>
				<string>80</string>
				<key>value</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>done</string>
				<key>title</key>
				<string>Continue</string>
				<key>type</key>
				<string>ButtonCell</string>
			</dict>
			<dict>
				<key>name</key>
				<string>BLANK</string>
				<key>title</key>
				<string>BLANK</string>
				<key>type</key>
				<string></string>
				<key>height</key>
				<string>300</string>
				<key>readonly</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
